body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4e4e4e;
  letter-spacing: 0.22px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.84em;
  line-height: 1.8em;
}

p {
  max-width: 640px;
}

h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 900;
  color: #222;
}

h2 {
  font-size: 1.8em;
  color: #222;
  border-bottom: 4px solid GOLD;
  padding-bottom: 12px;
  display: inline-block;
  margin-bottom: 1em;
}

h3 {
  color: #222;
  font-size: 1.4em;
}

h4 {
  color: #222;
  font-size: 1.5em;
  font-weight: 600;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-style: italic;
  line-height: 1.6em;
}

.container {
  margin-top: 80px;
}

.section {
  margin-top: 3em;
}

.header {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 2em;
  overflow: hidden;
}

.siteTitle {
  z-index: 10;
  letter-spacing: 1.61px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 3em;
  line-height: 1em;
  text-transform: uppercase;
  line-height: 1.4em;
}

.project {
  padding: 1em;
  color: #222;
  text-decoration: none;
  height: 420px;
  overflow: hidden;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  /* box-shadow: 4px 4px 4px rgba(0,0,0,0.25); */
  margin-bottom: 2em;
  margin-top: 0.2em;
}

.projectThumbnail {
  height: 220px;
  overflow: hidden;
  margin-bottom: 1em;
}

.noUnderline {
  text-decoration: none;
  user-select: none;
}

.noUnderline:hover {
  text-decoration: none;
}

.member {
  display: inline-block;
  margin-left: 48px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.btn {
  color: blue;
  border-color: blue;
}

.btn:hover {
  color: white;
  background-color: blue;
  border-color: blue;
}

.member a {
  color: #4e4e4e;
}

.member_photo {
  height: 86px;
  width: 86px;
  border-radius: 80px;
  margin-top: 24px;
  border: 1px solid white;
  -o-object-fit: cover;
  object-fit: cover;
}
